@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap");
@import "tailwindcss";

@theme {
  --font-one: "Edu AU VIC WA NT Pre", serif;
  --shadow-4xl: 0px 2px 4px 3px black;
}

@media (max-width: 340px) {
  .app {
    padding: 0;
    font-size: clamp(0.8rem, 4vw, 0.9rem);
  }

  .timer {
    flex-wrap: wrap-reverse;
  }

  .timer-content,
  .length-controls {
    width: 100%;
  }

  .heading {
    font-size: clamp(1.3rem, 5vw, 1.5rem);
    line-height: 2rem;
  }

  .pomodoro {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    border-radius: 0;
  }
}
